 <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1 style="color:blue;">Welcome to my website!</h1>
    </p>Hi! My name is Veer Chauhan (vc2534). I am a first-year student studying 
    Computer Engineering.</p>
    <p><a href="/tea">Favorite Teas and Reviews</a></p>
    <p><a href="/travel">Travel</a></p>
    <p><a href="http://slither.io">A favorite website (slither.io)</a></p>
    <img src="/static/selfpic_1006.jpg" alt="self photo" style="width:450px;height:400px;">
    </body>
</html>

