 <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Tea</title>
    <head>
    <body>
    <h1 style="color:blue;">My Favorite Tea</h1>
    <h3>Tea is in my top 3 favorite things in this world. I drink a lot of it
    and have tried many types from many different companies and places. 
    I have compiled some of my favorite teas and the 
    reasons why I like them to share with you. Enjoy!</h3>
    <h4 style="color:red;">Fortnum and Mason: Royal Blend</h4>
    <img src="/static/royalblend.jpg" alt="self photo" style="width:200px;height:200px;">
    <p>This is my favorite standard black tea. It's a little less intense than 
    a traditional English Breakfast tea and bit more honey-like and floral in my opinion. 
    It also has a really good tolerance when brewing, so if you accidentally overbrew, it will 
    not become astringent or bitter. Plus, it can be brewed many times over with the same leaves 
    and the flavor holds very well. I like that it leaves a bit of a dry-mouth feeling in the end, 
    which I personally enjoy for my black teas. This was the first tea I ever had from Fortnum, and 
    it quickly made the brand my favorite.</p>
    <h4 style="color:red;">Fortnum and Mason: Rose Pouchong</h4>
    <img src="/static/rose.jpg" alt="self photo" style="width:200px;height:200px;">
    <p>This easily has to be my favorite tea of all time. It is a scented tea, but unlike anything 
    else on the market. Other rose-scented teas out there add artificial flavoring to the tea leaves
    in order to get the rose flavor and scent. I find that this makes the rose scent quite harsh and 
    you can really tell that it is fake. Fortnum and Mason, however, actually covers the tea leaves in 
    rose petals while the tea dries, so the rose scent is absorbed into the tea leaves in the drying process. 
    The petals are left overnight, then every single petal is removed the next morning to allow a new batch of 
    petals to be mixed in with the tea leaves. This process is repeated several times so the scent and flavor 
    are really there.
    This makes for a more delicate, natural scent that doesn't have any weird aftertaste. It has a very 
    clean finish at the end, and as you drink it, the smell of the rose and tea make you feel like you 
    are in heaven.</p>
    <h4 style="color:red;">Whittard: Shanghai Chai</h4>
    <img src="/static/chai.jpg" alt="self photo" style="width:200px;height:200px;">
    <p>This is a very new tea in my cupboard as I have never had it before nor have I tried Whittard before.
    However, I was very happy with both the tea and the company when I first had this tea. Shanghai Chai
    is a play on the traditional Indian Chai, which is black tea mixed with spices such as cardamom, cinnamon, 
    clove, and ginger. Instead of black tea, however, Shanghai Chai uses gunpowder green tea, which is a bit of 
    a stronger green tea. They also add mint leaves to the infusion, along with all the traditional 
    spices. I like this tea because it is very different from anything else out there. It is light 
    enough to have in the evenings or night, and the spices leave you with a very warm feeling. The green tea
    and all the extra ingredients give the tea very little caffeine, so you don't have to worry about not
    falling asleep if you drink this quite late. Interestingly, this the flavor of this tea
    lasts for at least 5 infusions, so you can keep rebrewing with the same leaves over and over.
    There are no artificial flavorings added to this tea, so all the flavors and scents are natural, 
    which definitely makes a difference as there are no weird aftertastes and nothing overpowering.
    Technically, this is not really tea but m an infusion, but it tastes good, so who cares what
    it is called?! I highly recommend Whittard for any new tea drinker who does not know what they like 
    yet because their teas are excellent and very, very well priced. There is a large variety with 
    really accurate descriptions and lots of helpful reviews to help you pick. 
    No other tea company gives you the same variety and quality for the pricepoint.</p>
    <h4 style="color:red;">Lapsang Souchong</h4>
    <img src="/static/lapsang.jpg" alt="self photo" style="width:200px;height:200px;">
    <p>No particular brand really does this tea better than others as far as I can tell. Almost all 
    reputable tea brands out there have a good Lapsang. Lapsang Souchong is a really old style of 
    tea. It is a Chinese black tea that is smoked over pine needles, giving it a smoky scent and taste to it. 
    When I used to drink coffee, I used to love the dark, rich smell and taste of it. Lapsang gives you
    a very similar nutty, dark, chocalatey smell and taste like coffee, but a little bit lighter. You 
    definitely avoid the whole tar-taste of badly brewed coffee. 
    This tea definitely encouraged me to switch from coffee to tea as I got the same flavors as coffee but 
    without the coffee jitters or sweats many coffee drinkers experience. What is also great about this tea
    is that it is fun to add to other teas. For example, you can make Smokey Earl Grey tea by adding a bit
    of Lapsang to your Early Grey.</p>
    <h4>PSA: Buying loose-leaf tea ensures you get the best quality tea and allows you to 
    rebrew several times, so you get more tea for your money!</h4>
    <p><a href="/">home</a></p>
    </body>
</html>



