 <!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1 style="color:blue;">Summer 2019 Travel</h1>
    <h3>After graduation, my best friend and I backpacked in Europe for 6 weeks. 
    We had a crazy, insane trip, and here are some pictures in the places we visited!
    Use the interactive map to see that places we went and a few pictures in each place.</h3>
    <p>(You must be signed into Lionmail to view)</p>
    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1ZxwsGJ_9_AMTo4-5In8jXiZ_cUpewdpm" width="800" height="600"></iframe>
    <p>Personally, it's not possible for me to say where my favorite places were. But I think I had
    some of the most unique experiences while sailing in Greece and just exploring Barcelona. Another
    mutual friend of ours was sailing with his dad in Greece, and invited us on the boat. It was 
    one of the coolest things I will ever do. I slept under the stars every night, and swam in the 
    cleanest, bluest water ever. We occasionally saw dolphins as we sailed, which was spectacular. 
    Berlin was magical in my opinion, partially because it was the first stop on the trip, so the excitement of 
    having just graduated and just being with my friend in a new country was incredible. I think about this 
    trip almost every day, especially during these quarantine-times because the kind of freedom to 
    explore we had seems so foreign to me now.</p>
    <p><a href="/">home</a></p>
    </body>
</html>